/* ============================================================================================================================== */
                          /* =================HR Horizontal Rule LIVE PREVIEW ================================== */

/* HR Horizontal Rule LIVE PREVIEW */
.markdown-source-view.mod-cm6 hr {
    /* margin: 1.2em 0; */
    margin: 1.2em 0 0.5em 0;
  
    /* border-top: 1.5px solid; */
      border-color: #499dce;
    }
  
    /* ===========================HR Horizontal Rule READING VIEW  =========================== */
    
    /* HR Horizontal Rule READING VIEW */
    .markdown-preview-view hr {
      /* border-top: 1.5px solid; */
      
      border-color: #499dce;
    }



/* ============================================================================================================================== */
              /* ===============================================TEXT BOLD AND ITALICS=========================*/


/* Different color for italic */
.cm-em,
.markdown-preview-section em {
  /* color: rgb(255, 74, 149); */
  
  /* Orange Color */
  /* color: #ff7b00 */

  color: #9dff00    !important;
  /* font-style: normal !important;  */
}

/* ===================================BOLD COLOR ======================================================== */


/* Different color for bold*/
.cm-line .cm-strong {
    
  /* Green Color - #65ff05 */
  color:  #ff9e20       !important;;
  
  /* color:  #FFFFFF !important; */
  font-weight: 780;
}

.markdown-preview-section strong {
  
  /* Green Color - #65ff05 */
  color:  #ff9e20  !important;;

  font-weight: 780;
  /* font-style: normal !important;  */
  /* font-weight: normal !important; */
}




 /* ============================================================================================================================== */

                              /* =====================================HEADING COLOR ====================== */

/* WRITE MODE */
.cm-header-1 { color: #9ebe0c; }  /* #f37b84 pinkish */
.cm-header-2 { color: #ffd98c; }  /* #ffd98c skin color */
.cm-header-3 { color: #9ff369; } /* #9ff369; green light #f37b84 pinkinsh #b99aff purpleish  #61fd00 another green*/
.cm-header-4 { color: #59d5c4; }
.cm-header-5 { color: #f37b84; }
.cm-header-6 { color: #2a8aff; }

/* Read mode heading colors */
.markdown-preview-view h1 { color: #9ebe0c; }
.markdown-preview-view h2 { color: #ffd98c; }
.markdown-preview-view h3 { color: #9ff369; } 
.markdown-preview-view h4 { color: #59d5c4; }
.markdown-preview-view h5 { color: #f37b84; }
.markdown-preview-view h6 { color: #2a8aff; }

 /* ============================================================================================================================== */
